// Place all the styles related to the Urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  width: 100%; 
}

.enlarge-btn {
  padding: 16px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.enlarge-form {
  padding: 30px 30px;
    font-size: 22px; 
    width: 600px;
    height: normal;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.tables {
  margin-left: 250px;
  margin-right: 250px;
}